<div class="col-lg-2 col-md-2 col-xs-12 cursor-pointer thumb">
  <div class="event-order" [ngStyle]="{'background-image': 'url(' + imgPath + location.locationLogo + ')',
    'background-repeat': 'no-repeat'}">
    <div class="event-overlay">
      <!--<span class="featured-tag">FEATURED</span>-->
      <h3>
        <a>{{location.name}}
          <small>{{location.createdAt | date:'dd MMM, yyyy'}}</small>
          <i class="fa fa-angle-right"></i>
        </a>
      </h3>
    </div>
  </div>
</div>
