<div class="col-lg-2 col-md-2 col-xs-12 thumb cursor-pointer">
  <div class="folder"  [ngStyle]="{'background-image': 'url(' + imgPath + pmcEvent.eventPhoto + ')',
  'background-repeat': 'no-repeat'}">
    <div class="folder-overlay">
      <p><strong>{{pmcEvent.name}} </strong></p>
    </div>
  </div>
</div>
